/* Copyright 2011 the Dart project authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style license */
/* that can be found in the LICENSE file. */

h2 {
  margin-bottom: 0;
  text-align: center;
}

div {
  text-align: center;
}
